<div class="examcard">
    <div class="examHead">
        <h2>Smart Kid General Knowledge Olympiad</h2>
    </div>
    <div class="examInfo">
        <p>Conudcted by: Science Olympiad Foundation (SOF) </p> <br>
        <p>

            Exam Details:
        <ol>
            <li>
                Syllabus:
                <ul>
                    <li>History</li>
                    <li>Civics</li>
                    <li>Geography</li>
                    <li>General Awareness</li>
                    <li>Current Affairs</li>
                    <li>Scholar's zone</li>
                </ul>
            </li>
            <li>Total questions: 35</li>
            <li>Total Duration: 40 mins</li>
            <li>Exam Dates: <a href="https://www.silverzone.org/olympiadsdates">CLICK
                    HERE</a></li>
            <li>Reference books :
                <a href="https://ebook.silverzone.org/home">CLICK
                    HERE</a>
            </li>
        </ol>
        <a href="https://sofworld.org/imo"><button>CLICK HERE</button></a>
        </p>
    </div>
</div>